<p-dialog
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [dismissableMask]="false"
  [style]="{ width: '400px' }"
  [(visible)]="taskFormDialogVisibility"
  (onHide)="closeDialog()"
  [appendTo]="'body'"
  [header]="taskFormMode + ' Task'"
>
  <form
    class="form-container d-flex flex-column justify-content-center gap-2 px-2 mt-2"
    [formGroup]="taskForm"
  >
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      formControlName="title"
    ></textarea>

    <div class="form-group d-flex justify-content-center">
      <p-button
        [label]="taskFormMode"
        [styleClass]="'btn btn-primary'"
        (onClick)="submit()"
        [disabled]="taskForm.invalid"
      ></p-button>
    </div>
  </form>
</p-dialog>
