<nav
  class="navbar navbar-light top-0 h-100px px-64px bg-white position-sticky border-bottom"
>
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col p-0">
        <span class="p-input-icon-right h-48px w-100">
          <input
            type="text"
            pInputText
            [(ngModel)]="searchKeyword"
            class="w-100"
            placeholder="Search"
          />
          <i class="pi pi-search text-black fw-bold"></i>
        </span>
      </div>
      <div class="col-auto p-0 ps-82px d-flex align-items-center gap-12px">
        <fa-icon [icon]="faBell" [size]="'xl'"></fa-icon>
        <img
          src="assets/images/UserAvatar.png"
          alt="profile-image"
          class="user-profile"
        />
      </div>
    </div>
  </div>
</nav>
