<header
  class="navbar navbar-expand-lg bd-navbar sticky-top h-100px py-0 bg-white border-bottom"
>
  <nav class="container-fluid navbar navbar-light px-3 px-md-64px h-100">
    <div class="row w-100 m-0">
      <div class="col-auto d-inline-block d-md-none">
        <div class="bd-navbar-toggle">
          <button
            class="navbar-toggler p-2 h-48px"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#bdSidebar"
            aria-controls="bdSidebar"
            aria-label="Toggle docs navigation"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              class="bi"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              ></path>
            </svg>

            <span class="d-none fs-6 pe-1">Browse</span>
          </button>
        </div>
      </div>
      <div class="col p-0">
        <span
          class="h-48px w-100"
          [ngClass]="
            ('dir' | translate) == 'rtl'
              ? 'p-input-icon-left'
              : 'p-input-icon-right'
          "
        >
          <input
            type="text"
            pInputText
            [(ngModel)]="searchKeyword"
            class="w-100 px-12px"
            [placeholder]="'Search' | translate"
          />
          <i class="pi pi-search text-black fw-bold"></i>
        </span>
      </div>
      <div
        class="col-auto w-200px d-flex align-items-center justify-content-end gap-12px"
      >
        <span class="cursor-pointer" (click)="changeLanguage()">{{
          "language" | translate
        }}</span>
        <fa-icon [icon]="faBell" [size]="'xl'"></fa-icon>
        <img
          src="assets/images/UserAvatar.png"
          alt="profile-image"
          class="user-profile"
        />
      </div>
    </div>
  </nav>
</header>
