<aside class="bd-sidebar sticky-top z-1111">
  <div
    class="offcanvas-lg offcanvas-start"
    tabindex="-1"
    id="bdSidebar"
    aria-labelledby="bdSidebarOffcanvasLabel"
  >
    <div class="offcanvas-header border-bottom">
      <a routerLink="tasks" class="w-100 text-white text-decoration-none">
        <img src="assets/images/Logo.png" alt="" class="w-190px" />
      </a>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        data-bs-target="#bdSidebar"
      ></button>
    </div>

    <div class="offcanvas-body vh-100">
      <nav
        class="bd-links w-100 h-100"
        id="bd-docs-nav"
        aria-label="Docs navigation"
      >
        <div class="pt-50px px-40px border-md-end d-flex flex-column h-100">
          <a
            routerLink="tasks"
            class="w-100 d-none d-md-flex justify-content-center pb-3 mb-74px text-white text-decoration-none"
          >
            <img src="assets/images/Logo.png" alt="" class="w-190px" />
          </a>
          <div class="d-flex flex-column justify-content-between w-100 h-100">
            <ul class="nav nav-pills flex-column w-100 gap-20px" id="menu">
              @for (link of links; track link.label){

              <li class="nav-item bg-light border-radius-8px">
                <a
                  [routerLink]="link.routerLink"
                  routerLinkActive="bg-primary text-white"
                  class="nav-link px-28px d-flex gap-12px"
                >
                  <img [src]="link.icon" alt="" />
                  <span class="text-capitalize fs-5 fw-medium">{{
                    link.label
                  }}</span>
                </a>
              </li>
              }
            </ul>
            <button
              class="btn btn-secondary d-flex gap-12px h-40px mb-40px border-radius-8px py-8px px-28px"
            >
              <img src="assets/images/sidebar/logout.svg" alt="" />
              <span class="text-secondary"> Log out </span>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</aside>
