<div class="container-fluid px-0 d-flex justify-content-between mb-32px">
  <h3 class="title m-0">Tasks</h3>
  <div
    class="d-flex flex-row-reverse gap-24px align-items-center justify-content-end"
  >
    <button class="btn btn-primary new-task d-flex gap-2 border-radius-8px">
      <span> New Task </span>
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button class="btn p-0 d-none d-md-inline-block">
      <img src="assets/images/tasks/filter.svg" alt="filter" />
    </button>
    <button class="btn p-0 d-none d-md-inline-block">
      <img src="assets/images/tasks/users.svg" alt="users" />
    </button>
    <button class="btn p-0 d-none d-md-inline-block">
      <img src="assets/images/tasks/forward.svg" alt="forward" />
    </button>
    <button class="btn p-0 d-none d-md-inline-block">
      <img src="assets/images/tasks/backward.svg" alt="backward" />
    </button>
  </div>
</div>
