@import "bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";
@import "assets/scss/sizing.scss";
@import "assets/scss/spacing.scss";
@import "assets/scss/borders.scss";
@import "assets/scss/variables.scss";

.btn-primary,
.p-button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  color: white;
  padding: 9px 25px;
  font-weight: normal;
  --bs-btn-color: #fff;
  --bs-btn-bg: #2563dc;
  --bs-btn-border-color: #2563dc;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #2563dc;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(9, 79, 185);
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2563dc;
  --bs-btn-disabled-border-color: #2563dc;
}
.btn-outline-primary {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 9px 25px;
  &:hover,
  &:focus,
  &:active {
    background-color: white !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
  }
}

.p-inputtext {
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 12px 24px;

  &::placeholder {
    color: #999999;
  }
}
.z-1021 {
  z-index: 1021;
}
