<div class="container-fluid p-0 mb-5">
  <div class="row g-4">
    @for(list of taskList; track list.category.icon;let categoryIndex = $index){
    <div class="col-md">
      <div
        class="border-radius-8px p-12px"
        [ngStyle]="{
          border: list.category.border,
          background: list.category.background
        }"
      >
        <div class="task-list-header d-flex gap-3 mb-14px">
          <img
            [src]="list.category.icon"
            [alt]="
              ('lang' | translate) == 'ar'
                ? list.category.name_ar
                : list.category.name_en
            "
          />
          <h5 class="list-title m-0" [ngStyle]="{ color: list.category.color }">
            {{
              ("lang" | translate) == "ar"
                ? list.category.name_ar
                : list.category.name_en
            }}
          </h5>
        </div>
        <div class="task-card-container d-flex flex-column gap-3">
          @for(task of list.tasks; track task.image;let taskIndex = $index){
          <app-task-card
            [categoryIndex]="categoryIndex"
            [taskIndex]="taskIndex"
            [task]="task"
            [border]="list.category.border"
          />
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
