<div class="container-fluid p-0">
  <div class="row g-4">
    <div class="col-md">
      <div class="todo-list border-radius-8px">
        <div class="task-list-header d-flex gap-3 p-12px mb-14px">
          <img src="assets/images/tasks/toDo.svg" alt="" />
          <h5 class="list-title m-0">To do</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="in-progress-list border-radius-8px p-0">
        <div class="task-list-header d-flex gap-3 p-12px mb-14px">
          <img src="assets/images/tasks/inProgress.svg" alt="" />
          <h5 class="list-title m-0">In progress</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="done-list border-radius-8px p-0">
        <div class="task-list-header d-flex gap-3 p-12px mb-14px">
          <img src="assets/images/tasks/done.svg" alt="" />
          <h5 class="list-title m-0">Done</h5>
        </div>
      </div>
    </div>
  </div>
</div>
