.forgot-password {
  color: var(--primary-color);
  font-size: 14px;
}
.btn-login {
  height: 40px;
  width: 94px;
  border-radius: 20px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
